<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link a Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;800&display=swap" rel="stylesheet">

    <!-- Fav Icon -->
    <link rel="shortcut icon" href="../images/icons/githubFavIcon.png" type="image/x-icon">

    <!-- Link Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Link metadata -->
    <meta name="description" content="Git con Github">
    <meta name="description" content="¿Qué es Git?">
    <meta name="description" content="¿Qué es GitHub?">

    <!-- Link Css -->
    <link rel="stylesheet" href="../styles/globals.css">
    <title>Git con Github</title>
</head>

<body>
    <header>
        <div class="headerView"></div>
        <h1>Actividades</h1>
    </header>
    <main>

        <section class="textContent">
            <article class="title">
                <h1 class="titleText">
                    <i class="fa-brands fa-git-alt"></i>
                    Actividad personal
                    <i class="fa-brands fa-github"></i>
                </h1>
            </article>
            <section class="containerPpt">
                <img style="width: 200px ;" src="../images/icons/gitIcon.png" alt="icon git">
                <h2 style="text-align: center;"><span class="important"><a href="../archivos/README.md" download
                            class="download">Descargar README.MD</a></span></h2>
                <img style="width: 100% ;" src="../images/repositorioGithub.png" alt="repositorio de Github">
            </section>
            <article class="title github">
                <h1 class="titleText">
                    <i class="fa-brands fa-git-alt"></i>
                    Actividad de pares
                    <i class="fa-brands fa-github"></i>
                </h1>
            </article>
            <section class="containerPpt">
                <iframe src="../archivos/Git+GitHubPrácticaIntegradora.pdf" width="100%" height="1000px" frameborder="0"></iframe>
                <h2 style="text-align: center;"><span class="important"><a href="../archivos/Git+GitHubPrácticaIntegradora.pdf"
                    class="download">Ver ejercicio de pares
                    Bash!</a></span></h2>
                    <img style="width: 200px ;" src="../images/icons/gitIcon.png" alt="icon git">
                    <h2 style="text-align: center;"><span class="important"><a href="../archivos/ejercicio/index.html" download
                                class="download">Descargar index.html</a></span></h2>
                    <img style="width: 100% ;" src="../images/index.png" alt="repositorio de Github">
                </section>
            </section>

    </main>
    <footer></footer>

</body>
<script src="../scripts/headerFooter.js"></script>
<script src="../scripts/script.js"></script>

</html>