<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link a Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;800&display=swap" rel="stylesheet">

    <!-- Fav Icon -->
    <link rel="shortcut icon" href="../images/icons/githubFavIcon.png" type="image/x-icon">

    <!-- Link Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Link metadata -->
    <meta name="description" content="Git con Github">
    <meta name="description" content="¿Qué es Git?">
    <meta name="description" content="¿Qué es GitHub?">

    <!-- Link Css -->
    <link rel="stylesheet" href="../styles/globals.css">
    <title>Git con Github</title>
</head>

<body>
    <header>
        <div class="headerView"></div>
        <h1>Git con GitHub</h1>
    </header>
    <main>
        
        <section class="textContent">
            <article class="title">
                <h1 class="titleText">
                    <i class="fa-brands fa-git-alt"></i>
                    Como usar Git con GitHub
                    <i class="fa-brands fa-github"></i>
                </h1>
            </article>
            <article class="content">
                <h2 class="subtitle github">
                    Flujo de trabajo de github
                </h2>
                <img style="width: 100%;" src="../images/flujoTrabajoGithub.jpg" alt="Flujo de trabajo de Github">
                <h2 class="subtitle github">
                    Clonando archivos de un repositorio remoto
                </h2>
                <p>Para <span class="importantGitHub">descargar</span> por primera vez un repositorio remoto a nuestra
                    máquina, tendremos que <span class="importantGitHub">clonarlo</span>. </p>
                <p><span class="importantGitHub"><i class="fa-brands fa-github"></i></span> Abrir una terminal en la
                    ubicación en donde queramos clonar el proyecto. </p>
                <p><span class="importantGitHub"><i class="fa-brands fa-github"></i></span> Copiar la <span
                        class="importantGitHub">URL</span> del repositorio que queremos clonar. </p>
                <p><span class="importantGitHub"><i class="fa-brands fa-github"></i></span> Escribir el comando </p>
                <section class="code">
                    <article class="codeButton">
                        <button title="Copiar texto" onclick='copyContent("git clone")'><i
                                class="fa-solid fa-copy fa-bounce"></i></button>
                    </article>
                    <article class="codeText">
                        <p id="texto">git clone [URL]</p>
                    </article>
                </section>
                <p><span class="importantGitHub"><i class="fa-brands fa-github"></i></span> Pegar la <span
                        class="importantGitHub">URL</span> después de la palabra <i>clone</i> (dejando un espacio de por
                    medio) y presionar <i>enter</i>. </p>
                <h2 class="subtitle ">
                    Comandos paso a paso para configurar un repositorio local
                </h2>
                <p>Para utilizar <span class="important">Git</span> con <span class="importantGitHub">Github</span>, es
                    necesario seguir algunos pasos.</p>
                <p class="quote" style="display: flex; flex-direction: column;  gap: 20px;"> 
                    <span style="text-align: center;" class="important">¡ ATENCIÓN !</span> <span>Si no estas trabajando en tu computadora personal ya sea en la charla de <span class="important">Git con Github</span>  o en la computadora del trabajo debes tener mucho cuidado a la hora de <span class="important">dejar olvidadas tus credenciales</span>.<br> </span> <span> Debemos asegurarnos de <span class="important">reiniciar</span> las <span class="important">configuraciones globales</span></span>
                </p>
                <p ><span class="important"><i class="fa-brands fa-git-alt"></i></span> Primero, debes <span
                        class="importantGitHub">configurar</span> tu
                    <span class="important">nombre</span> y <span class="important">correo electrónico</span> en Git
                    utilizando los siguientes comandos:
                </p>
                <section class="code">
                    <article class="codeButton">
                        <button title="Copiar texto" onclick='copyContent("git config user.name")'><i
                                class="fa-solid fa-copy fa-bounce"></i></button>
                    </article>
                    <article class="codeText">
                        <p id="texto">git config user.name [Tu nombre]</p>
                    </article>
                </section>
                <section class="code">
                    <article class="codeButton">
                        <button title="Copiar texto" onclick='copyContent("git config user.email")'><i
                                class="fa-solid fa-copy fa-bounce"></i></button>
                    </article>
                    <article class="codeText">
                        <p id="texto">git config user.email [Tu correo electrónico]</p>
                    </article>
                </section>
                <p><span class="important"><i class="fa-brands fa-git-alt"></i></span> En caso de querer <span
                    class="importantGitHub">configurar</span> tu
                <span class="important">nombre</span> y <span class="important">correo electrónico</span> de manera <span class="important">global</span>  en Git
                utilizando los siguientes comandos:
                </p>
                <section class="code">
                    <article class="codeButton">
                        <button title="Copiar texto" onclick='copyContent("git config --global user.name")'><i
                                class="fa-solid fa-copy fa-bounce"></i></button>
                    </article>
                    <article class="codeText">
                        <p id="texto">git config --global user.name [Tu nombre]</p>
                    </article>
                </section>
                <section class="code">
                    <article class="codeButton">
                        <button title="Copiar texto" onclick='copyContent("git config --global user.email")'><i
                                class="fa-solid fa-copy fa-bounce"></i></button>
                    </article>
                    <article class="codeText">
                        <p id="texto">git config --global user.email [Tu correo electrónico]</p>
                    </article>
                </section>
                <p><span class="important"><i class="fa-brands fa-git-alt"></i></span> Luego, debes <span
                        class="importantGitHub">vincular</span> tu <span class="important">repositorio local</span> con
                    un <span class="importantGitHub">repositorio remoto</span> en Github utilizando el comando:</p>
                <section class="code">
                    <article class="codeButton">
                        <button title="Copiar texto" onclick='copyContent("git remote add origin")'><i
                                class="fa-solid fa-copy fa-bounce"></i></button>
                    </article>
                    <article class="codeText">
                        <p id="texto">git remote add origin [URL del repositorio remoto]</p>
                    </article>
                </section>
                <h2 class="subtitle github">
                    Comandos paso a paso para subir o actualizar cambios en el repositorio remoto
                </h2>
                <p>Para poder subir nuestros archivos a la nube, debemos seguir los siguientes pasos</p>
                <p><span class="importantGitHub"><i class="fa-brands fa-github"></i></span> Abrir una terminal en la
                    ubicación de nuestro repositorio local.</p>
                <p><span class="importantGitHub"><i class="fa-brands fa-github"></i></span> Correr el comando </p>
                <section class="code">
                    <article class="codeButton">
                        <button title="Copiar texto" onclick='copyContent("git status")'><i
                                class="fa-solid fa-copy fa-bounce"></i></button>
                    </article>
                    <article class="codeText">
                        <p id="texto">git status</p>
                    </article>
                </section>
                <p>Para ver el <span class="importantGitHub">estado</span> de nuestros archivos (aquellos en rojo son
                    los archivos que aún no están en
                    seguimiento).</p>
                <p><span class="importantGitHub"><i class="fa-brands fa-github"></i></span> Correr el comando </p>
                <section class="code">
                    <article class="codeButton">
                        <button title="Copiar texto" onclick='copyContent("git add .")'><i
                                class="fa-solid fa-copy fa-bounce"></i></button>
                    </article>
                    <article class="codeText">
                        <p id="texto">git add .</p>
                    </article>
                </section>
                <p>Para indicar que queremos <span class="importantGitHub">agregar todos</span> los archivos al
                    repositorio. </p>
                <p><span class="importantGitHub"><i class="fa-brands fa-github"></i></span> Para <span
                        class="importantGitHub">agregar</span> un <span class="importantGitHub">solo archivo</span>,
                    correr el comando</p>
                <section class="code">
                    <article class="codeButton">
                        <button title="Copiar texto" onclick='copyContent("git add archivo.extension")'><i
                                class="fa-solid fa-copy fa-bounce"></i></button>
                    </article>
                    <article class="codeText">
                        <p id="texto">git add archivo.extension</p>
                    </article>
                </section>
                <p>en donde deberemos indicar tanto el nombre como la extensión del archivo.</p>
                <p><span class="importantGitHub"><i class="fa-brands fa-github"></i></span> Correr el comando </p>
                <section class="code">
                    <article class="codeButton">
                        <button title="Copiar texto" onclick='copyContent("git status")'><i
                                class="fa-solid fa-copy fa-bounce"></i></button>
                    </article>
                    <article class="codeText">
                        <p id="texto">git status</p>
                    </article>
                </section>
                <p>Para ver el <span class="importantGitHub">estado</span> de nuestros archivos (aquellos en verde son
                    los archivos que serán agregados al repositorio, por lo tanto estarán en seguimiento). </p>
                <p><span class="importantGitHub"><i class="fa-brands fa-github"></i></span> Para <span
                        class="importantGitHub">confirmar</span> que queremos subir de manera definitiva aquellos
                    archivos que agregamos, correr el comando</p>
                <section class="code">
                    <article class="codeButton">
                        <button title="Copiar texto" onclick='copyContent("git commit -m ")'><i
                                class="fa-solid fa-copy fa-bounce"></i></button>
                    </article>
                    <article class="codeText">
                        <p id="texto">git commit -m "mensaje"</p>
                    </article>
                </section>
                <p>En donde, entre comillas, deberemos escribir, en lo posible, un mensaje corto que resuma el trabajo
                    que estamos subiendo. </p>
                    <h2 class="subtitle github">
                        Actualizando archivos de un repositorio local
                    </h2>
                    <p><span class="importantGitHub"><i class="fa-brands fa-github"></i></span> Para poder actualizar los
                        archivos de nuestro repositorio local con respecto a los que están en el repositorio remoto, debemos
                        correr el comando</p>
                    <section class="code">
                        <article class="codeButton">
                            <button title="Copiar texto" onclick='copyContent("git pull origin master")'><i
                                    class="fa-solid fa-copy fa-bounce"></i></button>
                        </article>
                        <article class="codeText">
                            <p id="texto">git pull origin master</p>
                        </article>
                    </section>
                <p><span class="importantGitHub"><i class="fa-brands fa-github"></i></span> Para <span
                        class="importantGitHub">enviar</span> los archivos al repositorio remoto correr el comando</p>
                <section class="code">
                    <article class="codeButton">
                        <button title="Copiar texto" onclick='copyContent("git push origin master")'><i
                                class="fa-solid fa-copy fa-bounce"></i></button>
                    </article>
                    <article class="codeText">
                        <p id="texto">git push origin master</p>
                    </article>
                </section>

            </article>
        </section>
        <section class="information">
            <h2>Continua en:</h2>
            <article class="info-card">
                <a href="./actividades.html">
                    <img src="../images/icons/gitIcon.png" />
                    <h2>Actividades</h2>
                    <img src="../images/icons/githubIcon.png" />
                </a>
            </article>
        </section>

    </main>
    <footer></footer>
</body>
<script src="../scripts/headerFooter.js"></script>
<script src="../scripts/script.js"></script>

</html>