<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link a Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;800&display=swap" rel="stylesheet">

    <!-- Link Css -->
    <link rel="stylesheet" href="./styles/globals.css">

    <!-- Fav Icon -->
    <link rel="shortcut icon" href="./images/icons/githubFavIcon.png" type="image/x-icon">
    <!-- Link metadata -->
    <meta name="description" content="Git con Github">
    <meta name="description" content="¿Qué es Git?">
    <meta name="description" content="¿Qué es GitHub?">
    <title>Git con Github</title>
</head>

<body>
    <header>
        <div>
            <img src="./images/icons/gitIcon.png" alt="Git icono">

        </div>
        <h1>Git</h1>
    </header>

</body>

</html>