<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Link a Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;800&display=swap" rel="stylesheet">

    <!-- Fav Icon -->
    <link rel="shortcut icon" href="../images/icons/githubFavIcon.png" type="image/x-icon">
    
    <!-- Link Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Link metadata -->
    <meta name="description" content="Git con Github">
    <meta name="description" content="¿Qué es Git?">
    <meta name="description" content="¿Qué es GitHub?">

    <!-- Link Css -->
    <link rel="stylesheet" href="../styles/globals.css">
    <title>Git con Github</title>
</head>

<body>
    <header>
        <div class="headerView"></div>
        <h1>Trucos</h1>
    </header>
    <main>
        <a href="../archivos/comandosBash.pdf" download="Comandos de Git Bash">Descargar comando de Git Bash!</a>
    </main>
    <footer></footer>
</body>
<script src="../scripts/headerFooter.js"></script>
<script src="../scripts/script.js"></script>

</html>