<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link a Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;800&display=swap" rel="stylesheet">

    <!-- Link Css -->
    <link rel="stylesheet" href="../styles/globals.css">

    <!-- Fav Icon -->
    <link rel="shortcut icon" href="../images/icons/githubFavIcon.png" type="image/x-icon">
    <!-- Link metadata -->
    <meta name="description" content="Git con Github">
    <meta name="description" content="¿Qué es Git?">
    <meta name="description" content="¿Qué es GitHub?">
    <title>Git con Github</title>
</head>

<body>
    <header>
        <div>
            <img src="../images/icons/gitIcon.png" alt="Git icono">
            <img src="../images/icons/githubIcon.png" alt="GitHub icon"/>
        </div>
        <h1>Trucos</h1>
        <article class="info-card">
            <a href="../index.html">
                <img src="../images/icons/gitIcon.png" alt="Git icono"/>
                <h2>Trucos</h2>
                <img src="../images/icons/gitIcon.png" alt="Git icono"/>
            </a>
        </article>
    </header>
    <main>
        <a href="../archivos/comandosBash.pdf" download="Comandos de Git Bash">Descargar comando de Git Bash!</a>
    </main>

</body>

</html>