section.information {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;
    gap: 20px;
}

article.info-card {
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
    width: 40%;
    max-width: 550px;
    border: 1px solid #c9c9c9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

article.info-card a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width : 700px) {
    article.info-card{
        width: 80%;
    }
}

article.info-card:hover {
    color: #000;
    transform: translate3d(0, -5px, 0) scale(1.02);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}

article.info-card img {
    height: auto;
    object-fit: contain;
    max-width: 20%;
}



