@import url(./headerFooter.css);
@import url(./cards.css);
@import url(./textos.css);
@import url(./ppt.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --prymary-color: #F44D27;
    --white: #FFFFFF;
    --dark-github: #000000;
}

body{
    font-family: 'Montserrat', sans-serif, Arial, Helvetica;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: unset;
    animation-duration: 1s;
}


h1{
    font-size: calc(1em + 1vw)
}

h2{
    font-size: calc(0.8em + 1vw)
}

p{
    font-size: calc(0.6em + 1vw)
}

span.code{
    background-color: var(--prymary-color);
    padding: 2px 20px;
    color: var(--white);
    font-weight: 800;
}

.github{
    background-color: var(--dark-github);
    color: var(--white);
}