@import url(./headerFooter.css);
@import url(./cards.css);
@import url(./textos.css);
@import url(./ppt.css);
@import url(./code.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #F44D27;
    --white: #FFFFFF;
    --dark-github: #000000;
    --console: #4b4b4b;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif, Arial, Helvetica;

}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: unset;
    animation-duration: 1s;
}


h1{
    font-size: calc(1em + 1vw)
}

h2{
    font-size: calc(0.8em + 1vw)
}

p{
    font-size: calc(0.6em + 1vw)
}



.github{
    background-color: var(--dark-github);
    color: var(--white);
}

.arrowUp{
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 40px;
    cursor: pointer;
    text-shadow: var(--white) 1px 1px 3px , var(--white) -1px -1px 3px ;
    background-color: var(--white);
    border-radius: 50%;
}