section.containerPpt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20%;
    gap: 20px;
}

section.containerPpt iframe{
    width: 100%;
    height: 500px;
}

section.containerPpt h2 span a:hover{
    text-decoration: underline;
}

@media (max-width : 700px) {
    section.containerPpt iframe{
        height: 300px;
    }
    section.containerPpt{
        padding: 10px 5%;
    }
}

@media (max-width : 400px) {
    section.containerPpt iframe{
        height: 200px;
    }
}

@media (max-width : 300px) {
    section.containerPpt iframe{
        height: 150px;
    }
}
