span.important{
    color: var(--prymary-color);
    font-weight: bold;
}

.quote{
    border: 1px var(--prymary-color) solid;
    padding: 20px;
    border-radius: 5px;
}


section.textContent article.title{
    background-color: var(--prymary-color);
    padding: 20px;
}

section.textContent article.title h1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
}

section.textContent article.title i{
    font-size: calc(2em + 1vw);
}

section.textContent article.content{
    padding: 20px 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

@media (max-width : 700px) {
    section.textContent article.content{
        padding: 10px 5%;
    }
}

section.textContent article.content a:hover{
    text-decoration: underline;
}

section.textContent article.content h2.subtitle{
    background-color: var(--prymary-color);
    width: 100%;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    color: var(--white);
}